<html>
<head>
    <title> WSID demo - client </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1> WSID demo - client</h1>
                <p> Hello! This server is capable of authorization to 
                        <a href="https://{{ upstream }}">https://{{upstream}}</a> 
                        with dynamically generated passwords</p>


                <div class="card">
                    <h2 class="card-header">Dynamic server identity</h2>

                    <div class="card-body">
                        <p class="card-text">Passwords and crypto keys generated and stored inside this server are only kept in memory and not shared anywhere. 
                                             <br>They are rotated every {{ wsid_rotation_minutes }} minutes.
                        </p>

                        <p class="card-text">This server exposes following artifacts over HTTPS:</p>

                        <div class="card">
                            <h3 class=card-header">
                                <a href="https://{{ this_domain }}/.wsid/{{this_identity}}/passwdhash" target="_blank">Hash of current and previous password</a>
                            </h3>
                            <div class="card-body" id="passwdhash">
                                &nbsp;
                            </div>
                        </div>

                        <div class="card">
                            <h3 class="card-header">
                                <a href="https://{{ this_domain }}/.wsid/{{this_identity}}/id_ed25519.pub" target="_blank">Public SSH key (current and previous)</a>
                            </h3>
                            <div class="card-body" id="sshkey">
                            </div>
                        </div>

                        <p> Target server <code>{{upstream}}</code> has zero preliminary knowledge about passwords and keys used. 
                            It's only aware about this server's web identity (<code>https://{{ this_domain }}/.wsid/{{ this_identity }}/*</code>), 
                            which could be referred in access policies even before the real server's creation.</p>
                    
                    </div> <!-- end card body -->
                </div> <!-- end card -->
                <div class="border-top my-3"></div> <!-- separator -->
            </div> <!-- end col-xs-12 -->
        </div> <!-- end row -->

        <div class="row">
            <div class="col-xs-12">

                        <h2>Use cases</h2>


                        <div class="card">
                            <div class="card-header">

                                <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" 
                                            data-toggle="tab" 
                                            role="tab"
                                            aria-controls="test-rest"
                                            id="test-rest-tab"
                                            aria-selected="true"
                                            href="#test-rest">
                                            REST with dynamic password
                                        </a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" 
                                            data-toggle="tab" 
                                            role="tab"
                                            id="test-ssh-tab"
                                            aria-controls="test-ssh"
                                            aria-selected="false"
                                            href="#test-ssh">
                                            SSH with self-managed keys
                                        </a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" 
                                            data-toggle="tab" 
                                            role="tab"
                                            id="test-crypto-tab"
                                            aria-controls="test-crypto"
                                            aria-selected="false"
                                            href="#test-crypto">
                                            Signed and encrypted requests
                                        </a></li>
                                </ul>
                            <div>
                    
                            <div class="card-body tab-content">
                                <div id="test-rest" class="tab-pane fade show active" role="tabpanel" aria-labelledby="test-rest-tab">
                                    <p class="card-text">Upon test, server will send a POST request to the <code>https://{{upstream}}/test/http</code> API, supplying <code>BasicAuth</code> header, providiing <code>{{this_domain}}/.wsid/{{this_identity}}</code> as username, and currently active password as a password</p>
                                    <p>Receiving server will fetch valid password hashes 
                                        via trusted SSL channel from the URL 
                                        <a href="https://{{this_domain}}/.wsid/{{this_identity}}/passwdhash" target="_blank">
                                            https://{{this_domain}}/.wsid/{{this_identity}}/passwdhash
                                        </a> and would validate the password supplied
                                    </p>
                                    <p> After successful <strong>authentication</strong>, 
                                        target server would make an <strong>authorization</strong> decision in accordance to its internal policies, which may allow or prohibit particular actions for user <code>{{this_domain}}/.wsid/{{this_identity}}</code> 
                                    </p>
                                    <button type="button" class="btn btn-primary" id="test-rest">Test REST API call</button>
                                    <div id="test-rest-result"></div>
                                </div>
                                <div id="test-ssh" class="tab-pane fade" role="tabpanel" aria-labelledby="test-ssh-tab">
                                    <p>Upon test, server will attempt an SSH connection to the <code>{{demo_ssh_user}}@{{upstream}}</code></p>
                                    <p>Before connection, trusted remote host keys would be fetched from 
                                        <a href="https://{{upstream}}/.wsid/ssh_host_ed25519_key.pub" target="_blank">
                                            https://{{upstream}}/.wsid/ssh_host_ed25519_key.pub
                                        </a>
                                        <br>
                                        <strong>(No more blind trust to remote host keys!)</strong>
                                    </p>
                                    <p>Upon connection, target server <code>{{upstream}}</code> will authenticate and authorize user <code>{{demo_ssh_user}}</code> 
                                        by comparing session SSH key towards public keys exposed at 
                                        <a href="https://{{ this_domain }}/.wsid/{{this_identity}}/id_ed25519.pub" target="_blank">
                                            https://{{ this_domain }}/.wsid/{{this_identity}}/id_ed25519.pub
                                        </a>
                                    </p>
                                    <button type="button" class="btn btn-primary" id="test-ssh">Test SSH connection</button>
                                    <div id="test-ssh-result"></div>
                                </div>
                                <div id="test-crypto" class="tab-pane fade" role="tabpanel" aria-labelledby="test-crypto-tab">
                                    <h1>To be Done</h1>
                                </div>
                            </div>
                        </div>
            </div>
        </div> 
        <div class="row">
            <div class="col-xs-12">

            <div class="card">
                <div class="card-body">
                    <p class="text-left text-muted small">
                        <strong>WSID is an opensource solution for secure service-to-service authentication, 
                                designed and prototyped by me <a href="https://codified.cloud">Hleb Rubanau (project "Codified.Cloud")</a>
                                <br>
                                Feel free to reach out if you need custom integrations, consulting, solution architecture services
                        </strong>
                        <br>&copy; Hleb Rubanau, 2020. 
                        <br>Recipes for this demo are available at 
                            <a href="https://github.com/hleb-rubanau/wsid-basic-demo" target="_blank">
                            GitHub
                        </a>, and could be used freely under MIT license.
                    <p>
                </div>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
            <script language="javascript">
                $("#test-rest").click( function() {
                                           $.ajax({
                                                type: "POST",
                                                url: "/test/http"}
                                               ).done( function (data, s,o){
                                                    $("#test-rest-result").html("<h1>REST test result</h1><pre>"+data+"</pre>");
                                                    }
                                                ).fail( function(o,s,e) {
                                                    $("#test-rest-result").html("<h1>AJAX Failure: "+s+"</h1><pre>"+e+"</pre>");
                                                    }
                                                );
                                        } ); 
                $("#test-ssh").click( function() {
                                           $.ajax({
                                                type: "POST",
                                                url: "/test/ssh"}
                                               ).done( function (data, s,o){
                                                    $("#test-ssh-result").html("<h1>SSH test result</h1><pre>"+data+"</pre>");
                                                    }
                                                ).fail( function(o,s,e) {
                                                    $("#test-ssh-result").html("<h1>AJAX Failure: "+s+"</h1><pre>"+e+"</pre>");
                                                    }
                                                );
                                        } ); 


                var public_identity_updater=function() {
                    var pwhash_url="https://{{this_domain}}/.wsid/{{this_identity}}/passwdhash";
                    var pubkey_url="https://{{this_domain}}/.wsid/{{this_identity}}/id_ed25519.pub";


                    var on_pwhash_fetch = function(data, s, o ) { $("#passwdhash").html("<pre>"+data+"</pre>") };
                    var on_pubkey_fetch = function(data, s, o ) { $("#sshkey").html("<pre>"+data+"</pre>") };

                    $.ajax({url: pwhash_url}).done( on_pwhash_fetch );
                    $.ajax({url: pubkey_url}).done( on_pubkey_fetch );
                }

                public_identity_updater();
                window.setInterval(public_identity_updater, 180000);        
            </script>

            </div>
        </div>
    </div>
</body>
</html>
